[submodule "libsdl"]
	path = libsdl
	url = https://github.com/olesgedz/libsdl.git
[submodule "libft"]
	path = libft
	url = https://github.com/olesgedz/libft.git
[submodule "libmath"]
	path = libmath
	url = https://github.com/olesgedz/libmath.git
