# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.orig
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
rt
.DS_Store
.vscode
cmake-build-debug
.idea
gui/build
screens/
textures/sviborg_you.jpg
sviborg_you.jpg