[submodule "libs/libsdl"]
	path = libs/libsdl
	url = https://github.com/olesgedz/libsdl.git
[submodule "libs/libft"]
	path = libs/libft
	url = https://github.com/olesgedz/libft.git
[submodule "libs/libcl"]
	path = libs/libcl
	url = https://github.com/olesgedz/libcl.git
