# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.orig
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
rtv1
.DS_Store
.vscode
